@mixin check-icon($icon-color: lighten(green, 10%), $icon-width: 3px)
    &
        position: relative
        padding: 3px 0 3px 2em

    &::before
        content: ''
        height: 0.9em
        width: 0.55em
        border-right: $icon-width solid $icon-color
        border-bottom: $icon-width solid $icon-color
        position: absolute
        top: 0.25em
        left: 0
        transform-origin: right bottom
        transform: rotate(40deg)
        box-shadow: 1px 1px white, 3px 2px rgba(0, 0, 0, 0.07)
