@mixin fake-check($size: 16px, $bullet-size: 0.625em, $color-selected: green, $border-radius: 2px, $bullet-border-radius: 1px, $border-color: #999)
    & + label
        cursor: pointer
        position: relative
        padding-left: $size * 1.5

        // Fake radio button element (circle)
        &::before, &::after
            content: ''
            position: absolute
            border-radius: 2px

        &::before
            font-size: 16px
            width: 1em
            height: 1em
            top: calc(50% - 0.5em)
            left: 0
            border: 1px solid $border-color
            border-radius: $border-radius
            background: white

        &::after
            width: $bullet-size
            height: $bullet-size
            top: calc(50% - #{$bullet-size / 2})
            left: ($size - $bullet-size) / 2
            border-radius: $bullet-border-radius
            transform-origin: center
            transform: scale(0)
            background: $color-selected

    // Hover state
    &:hover + label
        &::before
            border-color: $color-selected

    // Selected state
    &:checked + label
        font-weight: 600

        &::before
            border-color: $color-selected

        &::after
            transition: .28s ease
            transform: scale(1)
