div
    | D. 1 januar 2018 slutter Quizzpanel.com’s konkurrence på 30.000 kr. på tværs af de nordiske lande. Eksemplet ovenfor et blot ét blandt flere præmieeksempler. Vinderen kan selv vælge mellem kontanter og ovenstående præmie.       
    h2 Konkurrencens formål
    | Når du deltager i konkurrencen, er det en betingelse, at du giver samtykke til at modtage markedsføring fra Quizzpanel.com samt konkurrencens øvrige samarbejdspartnere, herunder støtte til velgørenhedsorganisationer. Du vil dog kun blive kontaktet, hvis du er i den ønskede målgruppe. 
    h2 Samtykke til modtagelse af markedsføring fra konkurrencens samarbejdspartnere
    | I forbindelse med deltagelse i Quizzpanel.com’s konkurrence, giver du samtykke til at dine oplysninger og svar må videregives til konkurrencens samarbejdspartnere samt at disse partnere må kontakte dig elektronisk (e-mail, sms, mms), telefonisk og pr. brev med henblik på markedsføring. Du vil blive kontaktet om markedsføring som anført i samtykket, indtil du vælger at tilbagekalde dit samtykke. 
    br
    | Ved at deltage i konkurrencen accepterer du, at vores samarbejdspartnere må dig kontakte dig med tilbud mm. Du vil blive kontaktet hvis du er en del af deres målgruppe. Det vil dine oplysninger og svar givet i konkurrencen, informere om. Du kan se samarbejdspartnerne i en liste nedenfor. 
    br
    | Din besvarelse af konkurrencen vil blive anvendt til segmentering i forhold til alder, køn, interesser og økonomi. Markedsføringen, som du efterfølgende modtager, baseres på dine svar og de oplysninger, du har afgivet. 
    br
    | Med din deltagelse accepterer du samtidig at modtage elektronisk post fra Quizzpanel.com. Du kan altid trække dit samtykke til at blive kontaktet tilbage, ved at kontakte samarbejdspartnerne direkte. 
    br
    | I listen nedenfor har du mulighed for at fravælge nogle af samarbejdspartneres nyhedsbreve, ved at fjerne fluebenet i checkboksen ud for den enkelte partner. 
    
    h2 Samarbejdspartnere:
    | Undervejs i undersøgelsen/testen, vil der komme flere spørgsmål fra sponsorerne, hvor du samtidig giver din accept til at blive kontaktet vedr. sponsorens produkter via telefon. 
    br
    | Her er de sponsorer, som du accepterer at kunne blive kontaktet af:
    br
    | NB: Husk at du kun bliver kontaktet, hvis du er i målgruppen for sponsorernes produkter
    br
    br
    label(for="1")
        input#1.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="1", checked="")
        | Mail excellent (NordicOffers) Sendes daglig
    br
    label(for="5")
        input#5.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="5", checked="")
        | Mail excellent (emilsunivers) Sendes daglig
    br
    label(for="9")
        input#9.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="9", checked="")
        | Mail excellent (scandicdeals) Sendes daglig
    br
    label(for="13")
        input#13.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="13", checked="")
        | Mail excellent (Vitafinans) Sendes daglig
    br
    label(for="17")
        input#17.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="17", checked="")
        | Mail excellent (Clickfinans) Sendes daglig
    br
    label(for="21")
        input#21.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="21", checked="")
        | Mail excellent (Jackiejackpot.dk) Sendes daglig
    br
    label(for="25")
        input#25.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="25", checked="")
        | Mail excellent (Nordicbingoguide) Sendes daglig
    br
    label(for="29")
        input#29.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="29", checked="")
        | Mail excellent (Nordiccasinoguide) Sendes daglig
    br
    label(for="33")
        input#33.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="33", checked="")
        | Power Media Group ApS  (http://nordicdeals.dk) Sendes daglig
    br
    label(for="37")
        input#37.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="37", checked="")
        | Power Media Group ApS  (http://nordic-deals.com) Sendes daglig
    br
    label(for="41")
        input#41.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="41", checked="")
        | Starburst Media ApS  (http://scandideals.net/) Sendes daglig
    br
    label(for="45")
        input#45.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="45", checked="")
        | Starburst Media ApS  (http://act-instantly.com/) Sendes daglig
    br
    label(for="49")
        input#49.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="49", checked="")
        | Starburst Media ApS  (http://nordic-discount.com/) Sendes daglig
    br
    label(for="97")
        input#97.checkboxes(data-role="none", type="checkbox", name="checkboxes", value="97", checked="")
        | Leo Vegas (LeoVegas - Enriched - DK)
    br
    
    h2 Konkurrencens vilkår
    | Samtidig med at du registrerer dig, deltager du i konkurrencen om 30.000 kr.
    
    h2 Cookies
    | I forbindelse med din accept af konkurrencens betingelser, accepterer du samtidig at Quizzpanel.com (VitaDataLab Aps) må anvende cookies til statistik, markedsundersøgelser for samarbejdspartnere (se listen med samarbejdspartnere) og til målrettet markedsføring til tredjepartspartnere. 
    
    h2 Hvad er en cookie?
    | En cookia kan anvendes til at indsamle oplysninger om dig. Den indsamler fx din IP adresse, computerindstillinger, interne serverdata eller data brugt af vores server. En cookie er en lille tekstfil, der giver mulighed for at lagre oplysninger på brugerens computer, med det formål at indhente data om brugeren. Cookies er hverken spyware eller en virus, der skader din computer eller smartphone. VitaDataLab Aps bruger cookies til at lagre oplysninger om dine brugerfunktioner til at målrette annoncering på baggrund af din personlige brugeradfærd. 
    
    h2 Tredjepartscookies
    | Tredjepartscookies/-partnere omfatter de partnere, som hjælper Quizzpanel.com og dennes samarbejdspartnere til at administrere annoncer baseret på brugerens online adfærd. Quizzpanel.com vil udelukkende bruge de oplysninger, de har indsamlet via cookies til målrettet markedsføring, hvis du accepterer hjemmesidens brug af cookies. 
    
    h2 Fravalg af cookies
    | Du har mulighed for at blokere cookies, ved at ændre dine browserindstillinger, hvis du ikke ønsker at der skal gemmes cookies på din computer. Besøg din browsers hjemmeside for at lære mere. Du har stadig mulighed for at deltage i konkurrencen, selvom du vælger cookies fra. 
    
    h2 Persondata
    | Alle personoplysninger afgivet i forbindelse med din konkurrencedeltagelse (navn, adresse, e-mail, telefonnr., fødselsår og øvrige besvarelser), samt din accept af markedsføring fra Quizzpanel.com og samarbejdspartnere, behandles af Quizzpanel.com. Dine personoplysninger vil kun blive videregivet til samarbejdspartnere samt de virksomheder, hvor du accepterer tilbud, for at de kan følge op på din anmodning/accept af tilbud. Dit samtykke giver dermed tilladelse til videregivelse af dine personoplysninger til disser parter. Formålet med personoplysningerne er bl.a. at administrere Quizzpanel.com’s konkurrencer samt at kunne kontakte vinderen, på de indtastede oplysninger. Derudover bruges oplysningerne, som nævnt, til at målrette markedsføring fra Quizzpanel.com og samarbejdspartnere. 
    
    h2 Berettigelse
    | For at kunne deltage i konkurrencen, skal du være fyldt 18 år, give korrekte oplysninger, være bosiddende i Danmark og deltage via Quizzpanel.com eller samarbejdspartnerne. Alle betingelserne skal være opfyldt før du er berettiget til at vinde. Deltagelser, som ikke opfylder disse krav, kan blive diskvalificeret. br
    | Oplysningerne, du afgiver i forbindelse med spørgeskemaet, vil behandles med henblik på at levere målrettet markedsføring til dig. Din deltagelse er gratis og du kan deltage lige så mange gange, som du vil. For at deltage i konkurrencen er det en forudsætning at du giver samtykke til at modtage markedsføring fra konkurrencens samarbejdspartnere.
    br
    | Identiske konkurrencer afholdes i de øvrige skandinaviske lande (Norge, Finland og Sverige). Alle deltager i én samlet konkurrence, hvor der vil blive trukket lod om en pengepræmie på 30.000 kr. Ansatte hos Quizzpanel, deres nære familiemedlemmer og samlevere, kan ikke deltage i konkurrencen og vinde. 
    h2 Konkurrencevilkår
    | Ved deltagelse accepterer du samtidig konkurrencens vilkår. Derudover accepterer du at Quizzpanel.com’s bestemmelser er bindende, da det omhandler indholdet af konkurrence og undersøgelse. Konkurrencen er underlagt gældende lovgivning. 
    h2 Konkurrencens løbetid
    | Konkurrencen løber fra d. 12. januar 2017 – 17. juli 2017. Du deltager i konkurrencen gennem besvarelse af et spørgeskema
    h2 Registrering
    | Når du accepterer betingelserne, godkender du samtidig at de oplyste persondata, er korrekte. Du må ikke afgive falske persondata for at omgå eksisterende regler og lovgivning. Ved falske oplysninger vil du blive diskvalificeret fra konkurrencen og yderligere tiltag i forhold til misbrug af personoplysninger, kan blive brugt. br
    | Du har lov til at deltage i konkurrencen lige så mange gange, som du vil, men du vil kun blive registreret én gang om dagen pr. konkurrence. Denne konkurrence omhandler pengepræmien på 30.000 kr. Du skal udfylde de ønskede oplysninger, før du vil blive registret som deltager
    h2 Præmie
    | Vinderen af konkurrencen vinder 30.000 kr. 
    | Pligten til at betale skatter og afgifter ved udbetaling af pengepræmien påhviler modtageren, med mindre det ved lov pålægges Quizzpanel.com. Hvis pligten ved lov påhviler Quizzpanel.com, vil vinderen modtage den fulde præmieværdi bestående af 30.000 kr., hvorefter Quizzpanel.com vil betale alle skatter og afgifter tilhørende præmien. Vinderen vil som udgangspunkt få udbetalt kontantbeløbet af præmiens værdi, med mindre at vinderen ønsker at modtage det viste præmieeksempel i stedet for. | Præmien kan ikke byttes eller overdrages til andre.
    br
    | Når præmien accepteres, gives der tilladelse til vinderens navn, by, billede- og videomateriale må bruges af Quizzpanel.com og tilhørende organisation i forbindelse med præmieoverrækning og til efterfølgende brug til alle formål – herunder reklame og markedsføring i enhver form - frit og uden særskilt vederlag.
    
    h2 Vindertrækning
    | Vinderen trækkes blandt alle, der har deltaget i den nordiske konkurrence på tværs af landene (Danmark, Finland, Norge og Sverige), ved lodtrækning.
    | Den udtrukne bruger vinder pengepræmien på en værdi af 30.000 kr.
    | Vinderen vil inden for en periode på 10 dage blive kontaktet via e-mail og telefon ud fra de oplysninger,
    | der er noteret i registreringen.

    | Vinderen offentliggøres på hjemmesiden ”Quizzpanel.com” samt på fremtidig markedsføring af konkurrencer.
    br
    | Præmien vil blive afsendt senest to uger efter at vinderen har bekræftet sine oplysninger. 
    | Vinderen vil være betinget af, at regler og love er overholdt. Brud på disse regler og love vil resultere i diskvalifikation og præmien og øvrige privilegier frafalder øjeblikkeligt. 
    | Vinderen har 30 dage fra første notifikation på e-mail eller telefon ang. vinderudtrækningen og præmien, til at oplyse hvor præmien skal sendes hen. Modtager Quizzpanel.com ikke oplysningerne indenfor 30 dage, 
    | bortfalder retten til præmien uden kompensation.
    
    br
    | Quizzpanel.com fraskriver sig al ansvar i tilfælde af at e-mails ender i spamfiltre eller hvis de ikke kommer frem uanset årsag (fx IT-nedbrud, sikkerhedsindstillinger mm.), eller hvis vinderens indtastede oplysninger er forkerte eller ikke-fungerende.

    h2 Konkurrencebetingelser
    | I tilfælde af virus, ikke-menneskelig indgriben, svig, sikkerhed, retfærdighed eller af andre ukendte årsager uden for virksomhedens kontrol, forbeholder Quizzpanel.com sig retten til at annullere, afslutte, ændre eller suspendere konkurrencen. I sådan et tilfælde vil Quizzpanel.com udvælge en vinder blandt de berettigede tilmeldinger, før eller efter de foranstaltninger, som Quizzpanel.com har taget.
    | Enhver person, der forsøger at manipulere med processen og driften af konkurrencen og dets annoncer, eller som overtræder vilkår og betingelser, forbeholder Quizzpanel.com sig retten til at diskvalificere vedkommende.
    | Quizzpanel.com har ret til, efter eget skøn, at bevare integriteten af konkurrencen ved at annullere deltagelser uanset årsag herunder, men ikke begrænset til, hvad der anses som en overtrædelse af konkurrencens regler.
    | Et hvert bevidst forsøg fra en deltager på at skade annoncer eller den legitime drift af konkurrencen kan være en overtrædelse af de straffe- og civile lovgivninger. Hvis sådan en handling gøres, forbeholder Quizzpanel.com at søge erstatning fra sådan en person i videst muligt omfang af loven.

    h2 Ansvarsbegrænsning
    | Ved godkendelse af betingelserne giver du accept til at frigive og holde Quizzpanel.com og dets tilhørende selskaber, associerede selskaber, samarbejdspartnere, efterfølgere, erhververe, medarbejdere, ledere og direktører fra ethvert ansvar, sygdom, tilskadekomst, død, tab, retssager, krav eller skader, der kan opstå direkte eller indirekte, uanset om det er forårsaget af uagtsomhed eller ej fra: 1. Deltagelse i konkurrencen og/eller din accept, besiddelse, brug eller misbrug af en præmie
    | eller dele heraf. 2. Tekniske fejl af enhver art, herunder, men ikke begrænset til funktionsfejl i enhver computer, kabel, netværk, hardware eller software. 3. Manglende eller utilgængelighed af eventuelle transmissioner eller telefon eller internet service. 4. Uautoriseret menneskelig indgriben i nogen dele i proces. 5. elektronisk eller menneskelige fejl, der kan opstå i administrationen af konkurrencen eller behandlingen af oplysningerne.

    h2 Bestridelse af konkurrencen
    | Denne konkurrence er underlagt lovgivningen i Danmark.
    | For at deltage i denne konkurrence er det en betingelse at du accepterer at alle eventuelle tvister,
    | som ikke kan løses mellem parterne, og søgsmål, der er forbundet til konkurrencen skal løses individuelt og ikke at ty til gruppesøgsmål,
    | foran en domstol. I sådan et tvist frafalder alle rettigheder til at kræve straffende,
    | tilfældige eller konsekvente følgeskaber; herunder advokatsalær, udover faktiske udgifter 
    | (dvs. omkostninger forbundet med deltagelse i konkurrencen).
    
    | Som deltager konkurrencen giver du afkald på alle rettigheder til at få erstatning ganget op eller øget.
    br
    br
    | Cookies anvendes til tracking til statistik, markedsundersøgelser og målrettet markedsføring fra vores samarbejdspartnere. Læs mere om cookies her
    | Link til ovenstående: 
    a.ui-link(href="http://www.minecookies.org", target="_blank") http://www.minecookies.org
