doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landingpage Meals
    
    body
        .background
        
        main
            form.form(action="#", method="post")
                .form--wrapper-bg
                    .form--header
                        h1.form--title
                            | Vind måltidskasser I 6 md fra 
                            span rentnemt.dk
                        p.form--title-line Værdi 20.000 kr
                        
                        .form--header-cloud
                            p
                                | Ved blot at modtage relevant markedsføring fra vores sponsorer på e-mail,
                                sms og pr. tlf, deltager du i konkurrencen.
                                span Dette give du accept til
                            svg(style="display:none;")
                                defs
                                    filter#dropshadow(width="110%", height="110%")
                                        feDropShadow(dx="0", dy="1", "stdDeviation"="-1 1", "flood-color"="rgba(0,0,0,0.3)")
                                    symbol#cloud
                                        path.cloud(fill="#ffffff", d="M171.3 52.1c-3.1-2.2-6.8-3.4-10.5-3.6.2-.2.3-.4.5-.6 6.6-9.2 4.4-22-4.9-28.6-8.6-6.2-20.4-4.8-27.3 2.9v-.4C130 11 120.4 1.4 107.5.3c-12.3-1-23.1 6.2-24.7 16.4-3.7-8.1-13.5-13.1-24.5-12-12.8 1.4-22.4 10.7-22.1 21.2-2.7-1.2-5.6-1.9-8.7-1.9C15.3 24 5.3 34.6 5.3 47.6c0 5.6 1.8 10.7 4.8 14.7-2.5 2-4.7 4.4-6.5 6.9-7 9.7-3.8 28.5 8.5 33 1.8.6 3.9 1 6.2 1.2-2.2 8.7 3.9 18.1 10.7 21.3 6 2.8 17.1 2.6 24.9-1.6 2.8 7.4 5.5 11.1 10.6 14.3 7.8 5 23.3 1.2 28.7-9.8.5-1.1 1-2.1 1.4-3.2 2 6.1 6.8 11.9 12.1 15.3 7.8 5 23.2 3.8 28.5-7.2 1.5-3.2 2.6-6.4 3.1-9.5 8 4.6 22.7 3.2 27.9-7.5 4.1-8.5 4.8-17.4.4-24 3.6-1.5 6.6-4.1 8.6-8.5 5.2-10.7 5.5-24.2-3.9-30.9z")
                            .cloud-svg-wrapper
                                svg.cloud-svg(viewBox="-5 -2 190 150", filter="url(#dropshadow)")
                                    use(xlink:href="#cloud")
                    
                    p Svar på spørgsmålene og deltag i konkurrencen:
                    
                    #first-step
                        .form--section
                            p.form--section-subtitle(data-number="1") Boligforhold
                            ul.l-3-col
                                each val in ['Ejerbolig', 'Lejebolig']
                                    li
                                        input(id="boligforhold-" + val, type="radio", name="boligforhold", value= val)
                                        label(for="boligforhold-"+ val)= val
                        
                        .form--section
                            p.form--section-subtitle(data-number="2") Jobsituation
                            ul
                                li.l-select
                                    .select
                                        select#jobsituation(name="jobsituation")
                                            option(value="") Select an option
                                            - var jobs = [
                                            -       'lønmodtager', 'selvstændig', 'studernde', 'pensionist',
                                            -       'flexjob', 'ledig', 'studernde', 'andet (job +25 timer)'
                                            - ]
                                            each job in jobs
                                                option(value=job)= job
                        
                        .form--section
                            p.form--section-subtitle(data-number="3") Hvilke forsikringer har du i dag?
                            ul.l-5-col
                                each val in ['Indbo', 'Bil', 'Sundhed', 'Ulikke', 'Hus', 'Dyr', 'Liv']
                                    li
                                        input(id="forsikringer-"+ val, type="checkbox", name="forsikringer", value= val)
                                        label(for="forsikringer-"+ val)= val
                                        
                        .form--section
                            p.form--section-subtitle(data-number="4") Hvad er dit teleselskab?
                            ul.vertical-align
                                li.l-select
                                    .select
                                        select#telecom-company(name="telecom-company")
                                            option(value="") Select an option
                                            - var telecomCompanies = [
                                            -   'Telia', 'Call me ', 'DLG ', 'Telenor ', 'Telmore', 'Cbb',
                                            -   'Tdc', '3Mobil', 'Fullrate', 'Plenti', 'Oister', 'Andet'
                                            - ]
                                            - var n = 0
                                            each company in telecomCompanies
                                                option(value=company)= company
                                
                                each val in ['Privat', 'Firma']
                                    li
                                        input(id="forsikringer-"+ val, type="checkbox", name="forsikringer", value= val)
                                        label(for="forsikringer-"+ val)= val
                        
                        .form--section.l-wrap
                            each fieldType, fieldName in {'Fornavn': 'text', 'Efternavn': 'text', 'E-mail': 'email', 'Mobilnummer': 'number'}
                                .form--section-col
                                    label(for=fieldName)= fieldName + '*'
                                    input(id=fieldName, type=fieldType, name=fieldName, required="")
                            
                            .form--section-col
                                label(for="gender") Køn
                                .select
                                    select#gender
                                        option(value="Mand") Mand
                                        option(value="Kvinde") Kvinde
                            .form--section-col
                                label(for="birthday") Fødselsdag*
                                input#birthday(type="date", name="birthday", required="")
                            
                            .form--section-col.l-full
                                label(for="my_address") Adresse
                                input#my_address(type="text", name="address", placeholder="Skriv din adresse her", required="", autocomplete="off")
                                
                                ul#autocomplete.dropdown-list.empty
                                    
                        #second_container.hidden
                            .form--section.l-wrap
                                .form--section-col.l-full
                                    label(for="street") Street
                                    input#street(type="text", name="street")
                            .form--section.l-wrap.l-4-col
                                .form--section-col
                                    label(for="street_no") Street No
                                    input#street_no(type="text", name="street_no")
                                .form--section-col
                                    label(for="floor") Floor
                                    input#floor(type="text", name="floor")
                                .form--section-col
                                    label(for="zip") ZIP
                                    input#zip(type="text", name="zip")
                                .form--section-col
                                    label(for="city") City
                                    input#city(type="text", name="city")
                                
                        
                        .form-section
                            input#agreement(type="checkbox", name="agree", required="")
                            label(for="agreement")
                                | Ja, jeg giver samtykke til at modtage markedsføring og jeg har læst og accepteret 
                                a#open-modal(href="#") betingelserne.
                        
                        .form--footer.content-right
                            button.btn(type="submit") Deltag nu >
                    
                    
                    //- #second-step.hidden
                    //- 
                    //-     .form--section.l-wrap
                    //-         each fieldType, fieldName in {'Another field': 'text', 'Another field 2': 'text', 'Another field 3': 'text', 'Another field 4': 'text'}
                    //-             .form--section-col
                    //-                 label(for=fieldName)= fieldName + '*'
                    //-                 input(id=fieldName, type=fieldType, name=fieldName, required="")
                    //- 
                    //-         .form--section-col.l-select
                    //-             label(for="birthday")= 'Fødselsdag*'
                    //-             input(id="birthday", type="date", name="Fødselsdag", required="")
                    //- 
                    //-     .form--footer.content-right
                    //-         button.btn(type="submit") Sende
                        
                
                .form--wrapper-bg
                    .form--section
                        ul.l-4-col.logos-list
                            li [logo 1]
                            li [logo 1]
                            li [logo 3]
                            li [logo 4]


        #modal.modal
            .modal--container
                .modal--title
                    | Betingelser
                    span#close-modal.modal--btn-close
                .modal--content
                    include _legal_text.pug
