// -- Normalize
$selection-color: black !default
$selection-background: white !default
@import 'normalize'

// -- Custom fonts
@import url('https://fonts.googleapis.com/css?family=Lato:900,900i|Open+Sans:300,400,600')

body, input, select
    font: 400 16px/1.4 'Open Sans', Arial, sans
    background: #ddd

input, select
    font-size: 1em


$container-width: 800px

//
// Global elements
//
main
    position: relative
    width: 100%
    max-width: $container-width
    margin: 20px 0
    z-index: 2

strong
    font-weight: 400

ul
    list-style: none
    padding-left: 0

//
// Helper classes
//
.hidden
    display: none

.text-right
    text-align: right

.vertical-align
    display: flex
    flex-direction: row
    align-items: center

.logos-list
    img
        display: block
        max-width: 100%
        height: auto

$font-family-secondary: 'Lato'

// Color
$color-secondary: #ED7C2A
$color-selected: $color-secondary
$color-input-border: #bbb
$color-input-focus-border: darken($color-input-border, 20%)
$color-submit: #4AB51F

@import '../../sass/button'
@import '../../sass/input'
@import '../../sass/radio'
@import '../../sass/checkbox'
@import '../../sass/select'
@import '../../sass/modal'
@import '../../sass/dropdown-list'

//
// Global elements
//
.background
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 1
    // Image background here
    background-image: url('./landing1-background.jpg')
    background-size: auto 100%
    background-position: 20%
    background-repeat: no-repeat
    // background-color: gray

//
// Form elements
//
.form
    select
        width: 100%

    button
        &.l-submit, &[type=submit]
            display: inline-block
            color: white
            background: $color-submit
            // border: 1px solid darken($color-submit, 10%)
            border: 0
            box-shadow: 0 2px darken($color-submit, 7%)

            &:hover
                background: darken($color-submit, 2.5%)


//
// Form structure
//

.form--wrapper-bg
    padding: 20px 30px
    background: rgba(255,255,255,0.85)
    // border-radius: 0 5px 5px 0
    border-radius: 5px
    margin: 30px 0 30px 40px


// Form title
.form--title, .form--title-line
    font-family: $font-family-secondary
    font-size: 2.5em
    font-weight: 900
    font-style: italic
    line-height: 1.1
    text-transform: uppercase
    color: #333
    text-shadow: 1px 0 0 rgba(white, 0.8), 2px 3px 1px rgba(black, 0.15)
    // text-shadow: 2px 3px 0 rgba(black, 0.1)

.form--title
    margin-top: 10px

    span
        color: $color-secondary
        text-shadow: 1px 1px 0 rgba(darken($color-secondary, 15%), 0.7), 2px 3px 1px rgba(black, .2)

.form--title-line
    position: relative
    display: inline-block
    font-size: 1.7em !important
    font-style: italic
    color: #555
    padding: 0.5em 1.2em 0.5em 50px !important
    margin: 0 0 0 -50px
    text-shadow: 2px 2px 0 rgba(black, 0.15)
    box-shadow: 3px 10px 3px -7px rgba(black, 0.15)

    color: white
    background: $color-secondary

    &::before
        content: ''
        width: 5em
        height: 2px
        position: absolute
        top: 0
        left: 0
        // background: $color-secondary

    &::after
        content: ''
        position: absolute
        top: 100%
        left: 0
        border-bottom: 20px solid transparent
        border-right: 20px solid darken($color-secondary, 12%)


// Form: texts
.form > p, .form--wrapper-bg > p
    padding: 20px 0
    font-size: 1.2em


// Form: sections
.form--section
    display: flex
    font-size: 0.9em
    margin: 5px 0
    justify-content: space-between

    &.l-wrap
        flex-wrap: wrap

    & > &-subtitle, & > ul
        margin: 10px 0

    // Form: section "subtitles"
    & > &-subtitle, .form--section-col > label
        font-family: $font-family-secondary
        font-size: 1.1em
        font-weight: 900
        font-style: italic

    // Form section: Subtitles
    & > &-subtitle
        position: relative
        width: 20%
        min-width: 200px
        padding: 0 20px 0 10px

        &::before, &::after
            position: absolute
            top: -3px

        &::before
            content: attr(data-number) "."
            font-size: 0.9em
            padding: 0.3em 0.3em 0.3em 0.4em
            color: white
            background: $color-secondary
            left: -30px

        &::after
            content: ''
            border-bottom: 1.78em solid transparent
            border-left: 0.7em solid darken($color-secondary, 10%)
            left: -9px

    // Form section: List of items
    > ul
        flex-grow: 1
        display: flex
        flex-wrap: wrap
        align-content: space-between

        > li
            padding: 0 10px 10px


        &.l-3-col > li
            width: 33.333%

        &.l-4-col > li
            width: 25%

        &.l-5-col > li
            width: 20%

        .l-half, .l-select
            width: 50%

        .l-full
            width: 100%


    // Content to right
    &.content-right
        justify-content: flex-end

    &-col
        position: relative
        width: 48%
        padding-top: 15px

        label, input
            display: block
            width: 100%

        label
            padding-bottom: 5px

        &.l-full
            width: 100%

    &.l-4-col > &-col
        width: 20%


// Agree field (special)
#agreement
    + label
        display: block
        font-size: 0.9em
        line-height: 1.6
        padding-left: 30px
        margin-top: 30px

        &::before
            top: 5px

        &::after
            top: 8px

    &:checked + label
        font-weight: normal


.form--header
    position: relative

    &-cloud
        width: 350px
        position: absolute
        top: 40px
        left: calc(100% - 220px)
        font-weight: 300
        font-style: italic
        text-align: center
        padding: 50px 50px
        // background: url('./cloud.svg') no-repeat
        // background-size: cover

        > p
            position: relative
            line-height: 1.8
            z-index: 2

            > span
                display: block
                padding-top: 10px
                font-size: 0.85em
                font-style: normal
                color: rgba(black, 0.6)

        .cloud-svg
            display: block
            width: 100%
            height: auto
            position: absolute
            top: 0
            left: 0
            // opacity: 0.85
            z-index: 1

            -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.15))
            filter: drop-shadow(0 2px 2px rgba(0,0,0,0.15))


.form--footer
    @extend .form--section
    padding-top: 30px


// Modal
.modal--title
    font-family: $font-family-secondary

// Mobile
// @media only screen
@media (max-width: 640px)
    .background
        display: none

    body
        background: #ddd

    .form--header
        // padding: 70px 20px 30px 20px
        padding: 120px 20px 30px 20px
        background-image: url('./landing1-background.jpg')
        background-size: auto 100%
        // background-position: top right
        background-position: 20%
        background-repeat: no-repeat
        margin: -30px -25px 10px

        + p
            padding-right: 50%

        &-cloud
            padding-top: 45px
            font-size: 1.2em
            transform: scale(0.6)
            top: 80%
            left: auto
            right: -90px

            > svg
                width: 104%

            > p
                line-height: 1.4

                > span
                    font-size: 0.9em

        .form--title
            color: white
            text-shadow: 1px 1px 0 rgba(black, 0.4), 3px 3px 10px rgba(black, 0.95)
            font-size: 1.85em

            span
                color: saturate($color-secondary, 8%)
                text-shadow: 1px 1px 0 rgba(darken($color-secondary, 20%), 1), 5px 5px 2px rgba(white, 0.7), 5px 5px 20px rgba(white, 1)


        .form--title-line
            font-size: 1.4em !important
            position: absolute
            left: 0
            bottom: -20px
            margin: 0
            padding-right: 20px !important
            // z-index: 10

    .form--wrapper-bg
        padding: 10px 15px
        margin: 10px

        > p
            font-size: 1em

    .form--title-line
        // font-size: 1.6em !important
        padding-left: 25px !important
        margin-left: -20px
        margin-bottom: -25px

        &::after
            border-bottom-width: 15px
            border-right-width: 10px

    .form--section
        flex-wrap: wrap

        & &-col > label, & &-subtitle
            font-size: 1em

        & > &-subtitle
            width: 100%
            padding-left: 25px

            &::before
                font-size: 0.9em
                left: -15px

            &::after
                left: 5px

        > ul

            &.l-5-col > li
                width: 33.333%

            &.l-3-col, &.l-4-col
                > li
                    width: 50%

            li.l-select
                width: 100%
