doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landingpage Meals
        
        script
            include api-response.js
    
    body
        .background
        
        main
            form.form(action="#", method="post")
                .form--wrapper-bg
                    .form--header
                        h1.form--title
                            | Vind måltidskasser I 6 md fra 
                            span rentnemt.dk
                        p.form--title-line Værdi 20.000 kr
                        
                        .form--header-cloud
                            p
                                | Ved blot at modtage relevant markedsføring fra vores sponsorer på e-mail,
                                sms og pr. tlf, deltager du i konkurrencen.
                                span Dette give du accept til
                            svg(style="display:none;")
                                defs
                                    filter#dropshadow(width="110%", height="110%")
                                        feDropShadow(dx="0", dy="1", "stdDeviation"="-1 1", "flood-color"="rgba(0,0,0,0.3)")
                                    symbol#cloud
                                        path.cloud(fill="#ffffff", d="M171.3 52.1c-3.1-2.2-6.8-3.4-10.5-3.6.2-.2.3-.4.5-.6 6.6-9.2 4.4-22-4.9-28.6-8.6-6.2-20.4-4.8-27.3 2.9v-.4C130 11 120.4 1.4 107.5.3c-12.3-1-23.1 6.2-24.7 16.4-3.7-8.1-13.5-13.1-24.5-12-12.8 1.4-22.4 10.7-22.1 21.2-2.7-1.2-5.6-1.9-8.7-1.9C15.3 24 5.3 34.6 5.3 47.6c0 5.6 1.8 10.7 4.8 14.7-2.5 2-4.7 4.4-6.5 6.9-7 9.7-3.8 28.5 8.5 33 1.8.6 3.9 1 6.2 1.2-2.2 8.7 3.9 18.1 10.7 21.3 6 2.8 17.1 2.6 24.9-1.6 2.8 7.4 5.5 11.1 10.6 14.3 7.8 5 23.3 1.2 28.7-9.8.5-1.1 1-2.1 1.4-3.2 2 6.1 6.8 11.9 12.1 15.3 7.8 5 23.2 3.8 28.5-7.2 1.5-3.2 2.6-6.4 3.1-9.5 8 4.6 22.7 3.2 27.9-7.5 4.1-8.5 4.8-17.4.4-24 3.6-1.5 6.6-4.1 8.6-8.5 5.2-10.7 5.5-24.2-3.9-30.9z")
                            .cloud-svg-wrapper
                                svg.cloud-svg(viewBox="-5 -2 190 150", filter="url(#dropshadow)")
                                    use(xlink:href="#cloud")
                    
                    p Svar på spørgsmålene og deltag i konkurrencen:
                    
                    //- Select field generic template
                    script(id="selectTpl" type="text/x-jsrender")
                        .select
                            select(id="{{:name}}" name="{{:name}}")
                                | {{if placeholder}}
                                option(value="") {{:placeholder}}
                                | {{/if}}
                                | {{for options}}
                                option(value="{{:label}}") {{:value}}
                                | {{/for}}
                    
                    #first-step
                        #questions-container
                            script#questions(type="text/x-jsrender")
                                .form--section
                                    p.form--section-subtitle(data-number="{{:#index+1}}") {{:text}}
                                    ul(class="vertical-align {{:layoutColumns ? 'l-'+ layoutColumns + '-col' : ''}}")
                                        | {{for fields}}
                                        |
                                        | {{if type == 'radio' || type == 'checkbox'}}
                                        | {{for options ~name=name ~type=type}}
                                        li
                                            input(id="{{:label}}-{{:#index+1}}", type="{{:~type}}", name="{{:~name}}", value="{{:value}}")
                                            label(for="{{:label}}-{{:#index+1}}") {{:label}}
                                        | {{/for}}
                                        |
                                        | {{else type == 'select'}}
                                        li.l-select
                                            | {{for tmpl="#selectTpl"}}
                                            | {{/for}}
                                        |
                                        | {{/if}}
                                        |
                                        | {{/for}}
                        
                        .form--section.l-wrap
                            #user-fields-container
                                script#user-fields(type="text/x-jsrender")
                                    .form--section-col
                                        label(for="{{:name}}") {{:label ? label : name}}{{:required ? '*' : ''}}
                                        | {{if type == 'select' tmpl="#selectTpl" }}
                                        | {{else}}
                                        input(id="{{:name}}" type="{{:type}}" name="{{:name}}" placeholder="{{:placeholder}}" "{{:required ? 'required' : ''}}"="")
                                        | {{/if}}
                            
                            .form--section-col.l-full
                                label(for="my_address") Adresse
                                input#my_address(type="text", name="address", placeholder="Skriv din adresse her", required="", autocomplete="off")
                                
                                ul#autocomplete.dropdown-list.empty
                                    
                        #second_container.hidden
                            .form--section.l-wrap
                                .form--section-col.l-full
                                    label(for="street") Street
                                    input#street(type="text", name="street")
                            .form--section.l-wrap.l-4-col
                                .form--section-col
                                    label(for="street_no") Street No
                                    input#street_no(type="text", name="street_no")
                                .form--section-col
                                    label(for="floor") Floor
                                    input#floor(type="text", name="floor")
                                .form--section-col
                                    label(for="zip") ZIP
                                    input#zip(type="text", name="zip")
                                .form--section-col
                                    label(for="city") City
                                    input#city(type="text", name="city")
                                
                        
                        .form-section
                            span.fake-checkbox
                                input#agreement(type="checkbox", name="agree", required="")
                                label(for="agreement")
                                    | Ja, jeg giver samtykke til at modtage markedsføring og jeg har læst og accepteret 
                                    a#open-modal(href="#") betingelserne.
                        
                        .form--footer.content-right
                            button.btn(type="submit") Deltag nu >
                        
                
                .form--wrapper-bg
                    #logos-container
                        script#logos(type="text/x-jsrender")
                            .form--section
                                ul.l-4-col.logos-list
                                    | {{for logos}}
                                    li
                                        img(src="{{:url}}" alt="{{:alt}}")
                                    | {{/for}}


        #modal.modal
            .modal--container
                .modal--title
                    | Betingelser
                    span#close-modal.modal--btn-close
                .modal--content
                    include _legal_text.pug
