// -- Normalize vars
$selection-color: black !default
$selection-background: white !default
@import 'normalize'

// -- Special fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Cormorant:400i')

// -- Mixins
@import 'mixins/check-icon'

$font-family: 'Rubik', Arial, sans
// $font-family-headline: 'Cormorant', Arial, sans
$font-family-headline: 'Cormorant', 'Time News Roman', sans-serif

// -- Color vars
$color-primary: #FD9326
$color-secondary: $color-primary
$color-terciary: saturate(#D06F5A, 10%)

$color-text: #333
$color-selected: $color-secondary
$color-input-border: lighten($color-terciary, 30%)
$color-input-focus-border: darken($color-input-border, 10%)
$color-background-light: desaturate(rgba(#FD9326, 0.09), 45%)
$color-button: $color-primary
$color-success: #4AB51F

// Input colors
$input-border-color: lighten($color-terciary, 30%)
$input-focus-border-color: lighten($color-terciary, 15%)
$input-focus-background-color: rgba($color-terciary,0.045)
$input-focus-shadow-color: 0 0 0 2px rgba($color-terciary,0.15)

// Checkbox colors
$check-selected-background-color: $color-primary
$check-selected-border-color: $color-primary
$check-selected-icon-color: white
// $check-selected-border-color: #777
// $check-selected-icon-color: $color-success

// -- Global elements
body, input, select, button
    font: 300 14px/1.4 $font-family
    color: $color-text

ul
    list-style: none
    padding-left: 0


// -- Components
@import '../../sass/button'
@import '../../sass/input'
// @import '../../sass/radio'
@import '../../sass/checkbox'
@import '../../sass/select'
@import '../../sass/modal'
@import '../../sass/dropdown-list'


// -- Global classes
.btn
    display: inline-block
    font-size: 1em
    font-weight: 400
    color: white
    background: $color-button
    border: 0

    &.l-min-width
        min-width: 130px
        text-align: center

    &.l-secondary
        color: darken($color-primary, 15%)
        background: lighten($color-primary, 37%)
        box-shadow: 0 1px 4px rgba(black, 0.1)

        &:hover
            color: darken($color-primary, 10%)
            background: lighten($color-primary, 40%)

    &:hover
        background: darken($color-primary, 5%)

body *.l-hidden
    display: none

body *.l-text-center
    text-align: center

body *.l-text-right
    text-align: right !important

.l-half
    width: 48%

.l-third
    width: 30.5%

.l-quarter
    width: 22%

.l-full
    width: 100%


// -- Background: approach with pseudo-element
body
    padding: 20px

    > *
        position: relative
        z-index: 2

    &::after
        content: ''
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: url('./bg1.jpg')
        background-repeat: no-repeat
        // Flipping the image for test
        background-size: 100% auto
        background-position: bottom left
        transform: scale(-1, -1)
        background-color: black
        z-index: 1

// header, main
//     position: relative
//     z-index: 2

// -- Wrapper
.lp--wrapper
    width: 100%
    max-width: 780px
    margin: 0 auto

// -- Header
.lp--header
    text-align: center
    color: white
    padding-bottom: 40px

    &-title
        position: relative
        font-family: $font-family-headline
        // font-family: 'Cormorant'
        font-weight: 400
        font-size: 2.8em
        font-style: italic
        text-transform: up
        text-shadow: 2px 2px 0 rgba(black, 0.8)
        color: rgba(white, 0.7)
        margin: 0
        z-index: 1

        > span
            display: block
            font-size: 1.2em
            font-family: 'Rubik'
            // font-style: italic
            font-style: normal
            font-weight: 700
            line-height: 0.7
            text-transform: uppercase
            color: rgba(white, 1)

        // Bottom line
        // position: relative
        // padding-bottom: 10px
        // &::after
        //     content: ''
        //     width:

    &-subtitle
        display: inline-block
        padding: 8px 30px
        // color: black
        // background: rgba(black, 0.7)
        background: $color-primary
        border: 1px solid rgba(white, 0.35)
        margin: 30px 0 0
        font-family: 'Rubik'
        font-weight: 500
        // font-style: italic
        font-size: 1.5em
        // perspective: 2em
        transform: skew(-10deg)
        box-shadow: 0 0 10px 2px rgba($color-primary, 0.7)
        text-shadow: 1px 1px 0 rgba(black, 0.25), 1px 3px 0 rgba(black, 0.1)

        > span
            display: inline-block
            // padding: 8px 30px
            // // color: black
            // background: rgba(black, 0.7)
            // border: 1px solid rgba(white, 0.5)
            transform: skew(10deg)
            // transform: rotateX(10deg)

// Footer
.lp--footer
    text-align: center
    font-size: 0.9em
    line-height: 1.6
    color: white
    text-shadow: 1px 1px 0 rgba(black, 0.8), 1px 1px 10px black
    padding-top: 40px

// -- Section
.lp--section
    padding: 10px 40px
    background: white
    box-shadow: 0 4px 15px -10px rgba(black, 0.9)
    // margin-top: -90px

    &-bg
        color: darken(desaturate(#D06F5A, 40%), 20%)
        padding: 20px 40px
        background: $color-background-light
        margin: -10px -40px 30px
        // box-shadow: 0 2px rgba(#FD9326, 0.2)


// -- Check list
.lp--check-list
    // font-family: $font-family-headline
    font-size: 0.85em
    font-weight: 600
    padding-bottom: 10px

    // display: flex

    > li
        // +check-icon(saturate(#D06F5A, 25%), 2px)
        +check-icon(saturate(#FD9326, 25%), 3px)
        color: darken(desaturate(#D06F5A, 40%), 20%)
        display: inline-block
        // background: rgba(white, 0.7)
        // border: 8px solid white
        // width: 32%

        &:before
            font-size: 1.2em
            top: 2px

        &:nth-child(2)
            margin: 0 15px


// -- Forms

.lp--form
    &-first, &-second
        input
            font-weight: 400

        label
            font-family: $font-family-headline
            // font-weight: 600
            font-size: 1.2em
            color: darken(saturate(#D06F5A, 15%), 15%)


// -- Forms columns
.lp--form-col
    margin-bottom: 10px

    &, &-wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    .lp--form-col
        // width: 100%
        // flex: 1
        // flex-grow: 2
        margin: 0

        &.l-half
            @extend .l-half
        &.l-third
            @extend .l-third
        &.l-quarter
            @extend .l-quarter

    input, select, label, .select
        width: 100%

    label
        display: block
        padding-bottom: 5px


// -- Form: first
.lp--form-first
    display: flex
    flex-wrap: wrap
    padding-bottom: 20px

    > div
        &:first-child
            width: 80%
            padding-right: 20px

        &:last-child
            flex-grow: 2
            // width: 20%
            > p
                text-align: right

        > p
            margin: 0 0 5px
            // background: pink

            &:first-child
                display: flex
                align-items: center

                label
                    padding-right: 30px

                input
                    flex-grow: 2

            &:nth-child(2)
                padding-left: 65px

    input[type=checkbox]
        & + label
            display: inline-block
            color: $color-text
            padding-left: 20px

            &::before
                font-size: 14px
                top: 2px

            &::after
                font-size: 13px
                top: 5px

        &, &:checked
            + label
                font: 300 0.85em $font-family

    .btn
        position: relative
        top: -4px


// -- Form: second
.lp--form-second
    .lp--form-col
        position: relative

    .lp--form-col:nth-child(2) .lp--form-col:last-child
        margin-left: 20px




// -- Breakpoints

// Medium screens
// @media (max-width: 1024px)

Mobile
@media (max-width: 640px)
    .lp--section
        padding-left: 20px
        padding-right: 20px

    .lp--form-first > div
        &, &:first-child
            width: 100%
            padding: 0

        &:first-child
            padding-bottom: 10px

        label
            width: 100%

    .lp--form-col-wrapper > .lp--form-col.l-half
        width: 100%

    .lp--form-col.l-quarter
        width: 30.5%
