doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landingpage 2
    
    body
        //- .lp--background
        .lp--wrapper

            header.lp--header
                h1.lp--header-title
                    | Bliv tester og få et 
                    span makeup sæt 
                p.lp--header-subtitle
                    span Værdi: 5.000 kr
            
            main
                
                section.lp--section
                    .lp--section-bg.l-text-center                  
                        ul.lp--check-list
                            li Deltagelse tager kun 5 min.
                            li Nem deltagelse
                            li Dine oplysninger bliver behandlet fortroligt
                            
                        p Giv samtykke til at blive kontaktet med markedsføring pr. telefon, e-mail og sms fra konkurrencens 14 samarbejdspartnere (læs om virksomhederne og deres produkter her) og deltag i konkurrencen.
                        

                    form#first-step.lp--form-first(action="#")
                        div
                            p
                                label(for="email") Email
                                input(type="email" name="email" required="")
                            
                            p
                                span.fake-checkbox
                                    input#agree(type="checkbox" name="agreement" required="" novalidate="")
                                    label(for="agree") Ja, jeg giver samtykke til at modtage markedsføring og jeg har læst og accepteret betingelserne.
                        div
                            p
                                button.btn.l-min-width(type="submit") Næste
                                
                    form#second-step.lp--form-col-wrapper.lp--form-second.l-hidden(action="#")
                        .lp--form-col.l-half
                            label(for="firstname") Fornavn
                            input#firstname(type="text" name="firstname" required="")
                        .lp--form-col.l-half
                            //- TODO: Remove this inline CSS!!!
                            .lp--form-col.l-half(style="flex-grow: 2")
                                label(for="lastname") Efternavn
                                input#lastname(type="text" name="lastname" required="")
                            .lp--form-col.l-quarter
                                label(for="gender") Køn
                                span.select
                                    select#gender(name="gender")
                                        option(disabled="disabled" selected="selected") Køn
                                        option(value="1") Mand
                                        option(value="2") Kvinde
                            
                        .lp--form-col.l-half
                            label(for="mobile") Telefonnummer
                            input#mobile(type="text" data-role="none" name="mobile")
                        
                        .lp--form-col.l-half
                            label(for="birthday") Fødselsdato
                            input#birthday(type="date" name="birthday")
                        
                        .lp--form-col.l-full
                            label(for="my_address") Adresse
                            input#my_address(type="text" name="address" placeholder="Skriv din adresse her" required="" autocomplete="off")
                            
                            ul#autocomplete.dropdown-list.empty
                        
                        #second_container.l-hidden
                            .lp--form-col.l-full
                                .lp--form-col.l-half
                                    label(for="street") Street
                                    input#street(type="text", name="street")
                                .lp--form-col.l-half
                                    label(for="street_no") Street No
                                    input#street_no(type="text", name="street_no")
                                .lp--form-col.l-third
                                    label(for="floor") Floor
                                    input#floor(type="text", name="floor")
                                .lp--form-col.l-third
                                    label(for="zip") ZIP
                                    input#zip(type="text", name="zip")
                                .lp--form-col.l-third
                                    label(for="city") City
                                    input#city(type="text", name="city")
                        
                        .lp--form-col.l-full
                            p.l-half
                                button#back-button.btn.l-secondary.l-medium < &nbsp; Forrige
                                
                            p.l-half.l-text-right
                                button.btn.l-min-width(type="submit") Sende
            
                section.lp--footer
                    p Formålet med konkurrencen er, at du giver samtykke til at blive kontaktet med markedsføring med henblik på tilbud, herunder økonomisk støtte, fra konkurrencens samarbejdspartnere. Konkurrencen er udarbejdet som et spørgeskema, og du bliver kun kontaktet hvis du er i målgruppen for tilbuddene. Ved accept af konkurrencens betingelser anvender vi tracking cookies til statistik, markedsundersøgelser og målrettet markedsføring fra ovenstående samarbejdspartnere.. Du kan læse mere om dit samtykke til modtagelse af markedsføring
            
            
