button
    position: relative
    padding: 0.9em 1.2em
    font-size: 1.1em
    font-weight: 600
    text-transform: uppercase
    border-radius: 3px
    background: white
    cursor: pointer
    transition: background 0.25s ease, color 0.25s ease

    &:hover
        box-shadow: 0 2px 3px rgba(0,0,0,0.15)

    &:focus
        outline: none

    &:active
        top: 1px
