@import './mixins/fake-check'

$check-size: 1em !default
$check-square-size: $check-size - 6 !default
$check-border-color: $color-input-border !default
$check-selected-border-color: $color-selected !default
$check-selected-background-color: white !default
$check-selected-icon-color: $color-selected !default

input[type=checkbox]
    display: none

    +fake-check($check-size, $check-square-size, $check-selected-border-color, 2px, 0, $check-border-color)

    // Checkbox icon
    & + label::after
        transform: scale(0) rotate(0) translate(($check-size / 24), ($check-size / 5.537) * -1)
        height: $check-size * 0.7
        width: $check-size / 2.5
        background: none !important
        border-right: 2px solid $check-selected-icon-color
        border-bottom: 2px solid $check-selected-icon-color
        transition: .2s ease
        top: $check-size * 0.35
        left: $check-size * 0.2


    &:checked
        + label::before
            background: $check-selected-background-color

        + label::after
            transform: scale(1) rotate(40deg) translate(($check-size / 24), ($check-size / 5.337) * -1)

// Wrap element to avoid HTML5 focus issues errors
.fake-checkbox
    position: relative

    > input
        display: block
        position: absolute
        top: 0
        left: 0
        opacity: 0
        pointer-events: none
