// Autocomplete list
.dropdown-list
    width: 100%
    position: absolute
    top: calc(100% - 5px)
    left: 0
    border: 1px solid #ccc
    border-radius: 3px
    z-index: 10
    background: white
    box-shadow: 0 2px 3px rgba(black, 0.1)
    opacity: 0
    max-height: 0
    overflow: hidden
    transition: max-height 0.25s ease

    input:focus + &:not(.empty)
        opacity: 1
        max-height: 1000px

    > li
        display: block
        padding: 7px 12px
        border-top: 1px solid #eee
        cursor: pointer

        &:first-child
            border: 0

        &:hover
            font-weight: 600
            background: #eee
