$input-border-color: #bbb !default
$input-background-color: white !default
$input-focus-border-color: darken($color-input-border, 20%) !default
$input-focus-background-color: white !default
$input-focus-shadow-color: 0 0 0 2px rgba(0,0,0,0.07) !default

input
    &[type=text], &[type=email], &[type=number], &[type=date]
        padding: 7px 10px
        border: 1px solid $input-border-color
        border-radius: 3px
        background: $input-background-color

        &:focus
            border-color: $input-focus-border-color
            background: $input-focus-background-color
            box-shadow: $input-focus-shadow-color
            outline: 0
