$container-width: 800px !default

// Modal
.modal
    width: 100%
    height: 100vh
    // padding: 30px
    position: fixed
    top: 0
    left: 0
    background: rgba(black, 0.5)
    visibility: hidden
    overflow: hidden
    z-index: 1

    // Modal container (inner wrapper)
    &--container
        position: relative
        width: calc(100vw - 40px)
        height: calc(100vh - 60px)
        top: 20px
        left: 20px
        max-width: $container-width
        padding: 20px 20px 30px
        border-radius: 3px
        font-size: 0.8em
        background: white
        transform: translateY(100px)
        transition: transform 0.3s ease

    // Close button
    &--btn-close
        display: none
        width: 1.7em
        height: 1.7em
        padding: 6px 10px
        position: absolute
        top: 0
        right: 20px
        font-size: 0.8em
        font-weight: 400
        font-style: normal
        text-align: center
        line-height: 1
        color: rgba(black, 0.5)
        // background: rgba(black, 0.05)
        border: 1px solid rgba(black, 0.1)
        border-radius: 100%
        transition: all 0.3s ease
        cursor: pointer

        &:hover
            color: rgba(black, 0.9)
            background: rgba(black, 0.07)

        &:before
            content: 'x'
            position: relative
            top: -2px

    // Modal title (header)
    &--title
        position: relative
        height: 50px
        padding: 0 20px 10px
        font-size: 2em
        font-weight: 900
        font-style: italic
        box-shadow: 0 1px 0 rgba(black, 0.1)
        margin: 0 -20px

    // Modal content wrapper
    &--content
        padding: 20px 20px 0 0
        height: calc(100% - 50px)
        margin-right: -20px
        overflow-x: hidden
        overflow-y: auto

        h2
            line-height: 1.2
            margin: 30px 0 10px

    // Mobile
    // @media only screen
    @media (max-width: 640px)
        &--title
            height: 40px
            padding: 10px
            font-size: 1.6em


// Modal: Opened class (apply it to BODY tag)
body.is-modal-open
    // Disable the page scroll
    width: 100%
    height: 100%
    overflow: hidden

    // Show modal
    .modal
        visibility: visible
        z-index: 10

        &--container
            transform: translateY(0)

        &--btn-close
            display: inline-block
