$selection-color: black !default
$selection-background: white !default

@import "~normalize.css/normalize.css"

*, *::before, *::after
    box-sizing: border-box

ul
    list-style: none
    padding-left: 0

::-moz-selection,
::selection
    color: $selection-color
    background: $selection-background
