$select-border-color: $color-input-border !default
$select-focus-border-color: $color-input-focus-border !default
$select-arrow-hover-color: $color-selected !default

.select
    position: relative

    & > select
        -webkit-appearance: none
        -moz-appearance:    none
        appearance:         none
        cursor: pointer
        padding: calc(0.58em - 1px) calc(0.925em - 1px)
        padding-right: calc(0.375em - 1px)
        border: 1px solid $select-border-color
        border-radius: 3px
        background: white

        &:focus
            border-color: $select-focus-border-color
            box-shadow: 0 0 0 3px rgba($select-border-color, 0.25)
            outline: none

    // Arrow down
    &::after
        content: ''
        width: 0.7em
        height: 0.7em
        position: absolute
        top: calc(50% - 0.625em)
        right: 1em
        box-shadow: 2px 2px 0 $select-border-color
        transform-origin: center
        transform: rotate(45deg)

    &:hover::after
        box-shadow: 2px 2px 0 $select-arrow-hover-color
