doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landingpage 4
    
    body
        .background
        
        main.l-dark
            
            header.header
                h1 Julens kredittkort
                p 
                    | Curabitur nec nulla id lectus mollis vehicula ac sit amet urna. 
                    | Nulla facilisi. Ut vitae ipsum vitae dolor iaculis dapibus. 
                    | Mauris aliquam convallis magna nec condimentum. Aenean hendrerit urna non elit facilisis tincidunt. 
                    | Pellentesque rutrum iaculis tellus non commodo. Suspendisse tortor lorem, posuere ac porttitor in, commodo id lectus. 
                    | Vestibulum eget felis in dolor tempor accumsan. Curabitur et purus leo. Suspendisse potenti.
            
            section.boxes--container    
                
                article.box.l-highlight(data-highlight-text="Best choice")
                    span.box--img.l-green
                        img(src=require("./logos/NO_VIP_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort 
                
                article.box
                    span.box--img.l-blue
                        img(src=require("./logos/NO_normal2_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
                
                article.box
                    span.box--img.l-yellow
                        img(src=require("./logos/NO_normal3.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
                
                article.box
                    span.box--img.l-green
                        img(src=require("./logos/NO_normal_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
            
            section.banks--container
                - var banks = [
                -       'mylender', 'fellow-finance', 'svea', 'euroloan', 'cash-buddy',
                -       'halino', 'nordax-bank', 'santander',
                -       'instabank', 'aasa', 'monobank', 'avida-finans', 'credigo', 'ostosraha',
                -       'lainaamo', 'resursbank', 'bigbank', 'credento', 'komplett-bank',
                -       'collector-bank'
                -   ]
                ul
                    each bank in banks
                        li
                            img(src=require("./banks/"+ bank +".png"), title=bank)
