// -- Normalize vars
$selection-color: black !default
$selection-background: white !default
@import 'normalize'

// -- Custom fonts
@import url('https://fonts.googleapis.com/css?family=Lato:900i|Open+Sans:300,400,600')

// -- Mixins
@import 'mixins/check-icon'


// -- Vars
$font-family-headline: 'Lato', Arial, sans

// Color
$color-secondary: #ED7C2A
$color-terciary: #3acdf2
$color-selected: $color-secondary
$color-input-border: #bbb
$color-input-focus-border: darken($color-input-border, 20%)
$color-button: #0370c4
$color-success: #4AB51F


// -- Glbal elements
body, input, select
    font: 400 16px/1.4 'Open Sans', Arial, sans

body
    background-image: url('./background.jpg')
    background-size: 120% auto
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: top 50%

main
    width: 100%
    max-width: 1040px
    padding: 10px 10px 30px
    margin: 0 auto
    background: rgba(white, 0.95)
    min-height: 100vh

// New page DARK style
main.l-dark
    background: rgba(black, 0.5)

    .header
        color: white

        > p
            font-weight: 400
            letter-spacing: 1px
            color: #ddd
            text-shadow: 1px 1px 0 rgba(black, 0.7)

    .box
        border-color: rgba(black, 0.85)

        &:hover
            border-color: white
            box-shadow: 0 0 0 4px rgba(white, 0.55), 0 3px 4px 6px rgba(black, 0.4)

        // &--btn
        //     background: lighten(green, 9%)
        //
        //     &:hover
        //         background: lighten(green, 15%)

ul
    list-style: none
    padding-left: 0


// -- Global classes
// Backgrounds for box logos
.l-blue
    background: #1178A5 !important
.l-green
    background: #0F6060 !important
.l-yellow
    background: #f2d235 !important


// -- Elements
.header
    position: relative
    text-align: center

    // &::before
    //     content: ''
    //     display: inline-block
    //     position: absolute
    //     top: -50px
    //     left: calc(50% - 10px)
    //     border-right: 140px solid transparent
    //     border-top: 130px solid $color-terciary
    //     transform: rotate(20deg) scale(2)
    //     opacity: 0.5
    //     z-index: 1

    > *
        position: relative
        z-index: 2

    > h1
        font-family: $font-family-headline
        font-weight: 900
        font-style: italic
        text-shadow: 2px 3px 0 rgba(black, 0.07)
        // text-transform: uppercase
        margin-top: 10px

    > p
        max-width: 740px
        font-weight: 300
        font-size: 0.9em
        line-height: 1.6
        margin: 0 auto

.boxes--container
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding-top: 40px
    // border: 1px solid #eee

.box
    position: relative
    width: 23%
    padding: 0 0 50px
    border: 1px solid #eee
    border-bottom-color: #ddd
    border-radius: 3px
    box-shadow: 0 1px 5px rgba(black, 0.1)
    margin-bottom: 40px
    transition: all 0.2s ease
    background: white

    &.l-highlight
        &::before
            content: attr(data-highlight-text)
            display: inline-block
            padding: 4px 15px
            // background: $color-terciary
            background: #f2d235
            position: absolute
            bottom: calc(100% + 6px)
            left: 0
            border-radius: 3px
            font-size: 0.9em
            font-family: $font-family-headline
            font-weight: 900
            font-style: italic
            transition: background 0.2s ease
            z-index: 1

        &::after
            content: ''
            width: calc(100% + 6px)
            height: calc(100% + 6px)
            position: absolute
            top: -3px
            left: -3px
            border-radius: 2px
            border: 5px solid $color-terciary
            pointer-events: none
            transition: box-shadow 0.2s ease

        &:hover
            // &::before
            //     background: lighten($color-terciary, 10%)
            &::after
                border-color: lighten($color-terciary, 10%)
                // box-shadow: 0 8px 9px rgba(black, 0.15)
                box-shadow: 0 0 0 2px lighten($color-terciary, 10%), 0 8px 9px rgba(black, 0.15)

    &:hover
        border-color: #ccc
        border-bottom-color: #bbb
        box-shadow: 0 4px 14px rgba(black, 0.18)

    &--img
        position: relative
        display: block
        width: 100%
        height: 100px
        text-align: center
        border-radius: 2px 2px 0 0
        background: #eee

        &::after
            content: ''
            border-left: 100px solid transparent
            border-top: 140px solid rgba(white, 0.1)
            position: absolute
            top: 0
            right: 0
            z-index: 1

        img
            position: relative
            top: 20%
            display: inline-block
            height: 60%

    &--btn
        display: block
        width: calc(100% - 10px)
        padding: 12px 10px 15px
        border-radius: 3px
        position: absolute
        left: 5px
        bottom: 5px
        font-weight: 600
        text-decoration: none
        text-align: center
        color: white
        text-shadow: 1px 2px 0 rgba(black, 0.1)
        box-shadow: 0 -3px 0 rgba(black, 0.17) inset
        // background: #177ed3
        background: lighten($color-button, 15%)
        transition: background 0.3s ease

        &:hover
            // background: lighten($color-button, 15%)
            background: lighten($color-button, 7%)

        &:active
            bottom: 4px
            // padding-top: 17px
            padding-bottom: 16px
            box-shadow: 0 0 0

    &--content
        font-size: 0.9em
        padding: 10px 20px

        > p
            margin: 0 0 10px

        > ul
            font-size: 0.9em

            > li
                +check-icon($color-success)

    &--content &--subtitle
        margin-bottom: 20px

    &--subtitle
        position: relative
        font-size: 0.85em
        font-weight: 600
        text-transform: uppercase
        letter-spacing: 1px
        padding-bottom: 8px

        &::before
            content: ''
            width: calc(3em + 3px)
            height: 2px
            position: absolute
            left: 0
            bottom: 0
            background: $color-terciary


// Banks list
.banks--container
    padding: 10px
    border-radius: 2px
    margin: 0 10px
    background: rgba(white, 1)

    ul
        display: flex
        margin: 0
        flex-wrap: wrap
        justify-content: center

        > li
            height: 48px
            padding: 12px 15px

            > img
                display: block
                width: auto
                height: 100%


// Medium screens
@media (max-width: 1024px)
    .box
        width: 38%

// Mobile
@media (max-width: 640px)
    body
        background-size: auto 100vh
        background-position: 70% 0
        background-attachment: fixed
        background-color: #333

    main
        padding: 10px 20px 30px
        background: rgba(white, 0.7)

    .header > p
        font-size: 0.9em
        line-height: 1.4

    .boxes--container
        padding-top: 60px

    .box
        width: 100%

    .banks--container
        margin-left: 0
        margin-right: 0
